= simple_form_for(@layer, remote: true , authenticity_token: true, input_html: { class: 'modal-form ' }) do |f|
  .form-group
    = f.input :name, as: :string, input_html: { class: 'form-control' , maxlength: 71 }, label: "Layer name"
    = f.input :workspace_name, as: :string, input_html: { class: 'form-control' , maxlength: 51 }, label: "Workspace"
    = f.input :db_name, as: :string, input_html: { class: 'form-control' , maxlength: 51 }, label: "Storage name"
    = f.input :description, as: :text, input_html: { class: 'form-control' , maxlength: 201 }, label: "Description"
    %br
    = f.input :shapefile_archive, as: :file, input_html: {class: "form-control"}, label: "Geospatial archive"
  .form-actions
    = f.button :submit, "Create", class: "btn btn-success"
    = link_to "Cancel", '#', onclick: "$.modal.close()", class: 'btn btn-warning pull-right'

:javascript
  $(":file").filestyle({buttonText: "Pick a file", placeholder: "No file"});