!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title InteractiveCv
    %link{"rel" => "icon", "href" => asset_url("landing/user.png")}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .row.col-xs-12.col-sm-10.col-sm-offset-1
      .container
        %nav.uniform_width.padding-bottom-one-relative
          .container-fluid.white_background
            .row
              .col-md-offset-1.col-md-1.col-sm-2.col-xs-6
                = image_tag('landing/profile.svg', width: 140, height: 80, class: "panel-box-ico")
              .col-md-4.col-sm-5.col-xs-8.text-center
                %h3.navbar_h3= "OLEKSANDR KYCHUN"
                %h4= "RAILS FULLSTACK DEVELOPER"
              .col-md-2.col-md-offset-2.col-sm-5.col-sm-6.padding-top-two-and-half-relative
                %div
                  = image_tag('landing/linkedin.svg', width: 20, height: 20, class: "panel-box-ico")
                  %h5.display_inline
                    %a{"href" => "https://goo.gl/zXqh7P", "class" => "with_decoration"}= "profile"
                %br
                %div
                  = image_tag('landing/skype.svg', width: 20, height: 20, class: "panel-box-ico")
                  %h5{"class" => "display_inline"}= "ghostinshadow"
            .row
              .col-md-2.col-md-offset-1
                = image_tag('landing/location.svg', width: 20, height: 20, class: "panel-box-ico")
                %h5.display_inline= " Lviv, Ukraine"
              .col-md-3
                = image_tag('landing/phone.svg', width: 20, height: 20, class: "panel-box-ico")
                %h5.display_inline= " +38 098 770 04 20"
              .col-md-3
                = image_tag('landing/email.svg', width: 20, height: 20, class: "panel-box-ico")
                %h5.display_inline= " kichun.oleksandr@gmail.com"
              .col-md-3
                = image_tag('landing/web.svg', width: 20, height: 20, class: "panel-box-ico")
                %h5.display_inline
                  %a{"href" => "http://light-sparrow.com", "class" => "with_decoration"}= "HOME"
        .uniform_width
          = yield
        %footer.footer.uniform_width
          %div
            .row
              %p{"style" => "margin-top: 5px; margin-left: 15px"}
                Icons made by
                %a{:href => "http://www.freepik.com", :title => "Freepik"} Freepik
                from
                %a{:href => "http://www.flaticon.com", :title => "Flaticon"} www.flaticon.com
                is licensed by
                %a{:href => "http://creativecommons.org/licenses/by/3.0/", :target => "_blank", :title => "Creative Commons BY 3.0"} CC 3.0 BY